* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  display: flex;
  height: 100vh;
}

.image-section {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: purple;
}

.overlay-text h1 {
  font-size: 7rem;
}

.overlay-text button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
}


.overlay-text button {
  padding: 15px 30px; 
  font-size: 1.5em; 
  background-color: #8a2be2; 
  color: white;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; 
}

.overlay-text button:hover {
  background-color: #6a1e9b; 
}


@media only screen and (max-width: 768px) {
  .overlay-text {
    width: 100%;
    text-align: center;
    left: 0;
    transform: translateY(-50%);
  }

  .overlay-text h1 {
    font-size: 4rem;
  }

  .overlay-text button {
    margin-top: 10px;
  }
}
